Repository gboigwe/nuru: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, frontend

feat: Add XMTP Messaging for Payment Notifications and Support #78
  packages/nextjs/package.json
Due: none

feat: Add XMTP Messaging for Payment Notifications and Support #78
  XMTP_IMPLEMENTATION_SUMMARY.md
  packages/nextjs/components/chat/XMTPChat.tsx
  packages/nextjs/hooks/useXMTP.ts
  packages/nextjs/services/messaging/MessageTemplates.ts
  packages/nextjs/services/messaging/PaymentNotificationService.ts
  packages/nextjs/services/messaging/PushNotificationService.ts
  packages/nextjs/services/messaging/README.md
  packages/nextjs/services/messaging/ReadReceiptService.ts
  packages/nextjs/services/messaging/XMTPIntegrationExample.ts
  packages/nextjs/services/messaging/XMTPService.ts
  packages/nextjs/services/messaging/__tests__/XMTPService.test.ts
  packages/nextjs/services/messaging/index.ts
Due: frontend

Add XMTP SDK for wallet-to-wallet messaging
  packages/nextjs/package.json
  yarn.lock
Due: none

Create XMTP client service and message templates
  packages/nextjs/services/xmtp/MessageTemplates.ts
  packages/nextjs/services/xmtp/XMTPClient.ts
  packages/nextjs/services/xmtp/index.ts
Due: frontend

Add chat interface and conversation list
  packages/nextjs/components/xmtp/ChatInterface.tsx
  packages/nextjs/components/xmtp/ConversationList.tsx
Due: frontend

Add payment notifications and support services
  packages/nextjs/services/xmtp/PaymentNotificationService.ts
  packages/nextjs/services/xmtp/ReadReceiptsService.ts
  packages/nextjs/services/xmtp/SupportChannelService.ts
Due: frontend

Create XMTP messaging page with chat interface
  packages/nextjs/app/messages/page.tsx
  packages/nextjs/utils/scaffold-eth/useEthersSigner.ts
Due: none

Add Messages link to navigation menu
  packages/nextjs/components/Header.tsx
Due: frontend

Add new conversation modal with validation
  packages/nextjs/components/xmtp/NewConversation.tsx
Due: frontend

Add message notification badge for unread count
  packages/nextjs/components/xmtp/MessageNotificationBadge.tsx
Due: frontend

Create useXMTP hook for React integration
  packages/nextjs/hooks/useXMTP.ts
Due: none

Create ERC721 payment receipt smart contract
  packages/hardhat/contracts/PaymentReceipt.sol
Due: contracts

Add receipt metadata generation service
  packages/nextjs/services/nft/ReceiptMetadataService.ts
  packages/nextjs/services/nft/index.ts
Due: frontend

Create visual receipt image generator
  packages/nextjs/services/nft/ReceiptImageGenerator.ts
  packages/nextjs/services/nft/index.ts
Due: frontend

Build NFT minting UI with contract integration
  packages/nextjs/components/nft/ReceiptMintCard.tsx
Due: frontend

Create receipt gallery with download and share
  packages/nextjs/components/nft/ReceiptGallery.tsx
Due: frontend

Add PDF export functionality with jsPDF
  packages/nextjs/package.json
  packages/nextjs/services/nft/ReceiptPDFExport.ts
  packages/nextjs/services/nft/index.ts
  yarn.lock
Due: frontend

Implement on-chain verification service
  packages/nextjs/services/nft/ReceiptVerificationService.ts
  packages/nextjs/services/nft/index.ts
Due: frontend

Create contract deployment script
  packages/hardhat/deploy/05_deploy_payment_receipt.ts
Due: none

Add receipt NFT types definitions
  packages/nextjs/types/receipt.ts
Due: none

Add receipt minting service
  packages/nextjs/services/nft/ReceiptMintingService.ts
  packages/nextjs/services/nft/index.ts
Due: frontend

Create receipts page with gallery view
  packages/nextjs/app/receipts/page.tsx
Due: none

Add Receipts link to navigation menu
  packages/nextjs/components/Header.tsx
Due: frontend

Add bundle analyzer configuration
  packages/nextjs/next.config.ts
  packages/nextjs/package.json
  yarn.lock
Due: none

Add dynamic imports for heavy components
  packages/nextjs/app/analytics/page.tsx
  packages/nextjs/app/debug/page.tsx
  packages/nextjs/app/messages/page.tsx
  packages/nextjs/app/receipts/page.tsx
Due: none

Configure tree shaking and vendor splitting
  packages/nextjs/next.config.ts
Due: none

Add compression and caching middleware
  packages/nextjs/middleware.ts
Due: none

Fix layout and optimize font loading
  packages/nextjs/app/layout.tsx
Due: none

Add Web Vitals monitoring component
  packages/nextjs/app/layout.tsx
  packages/nextjs/components/WebVitals.tsx
Due: frontend

Add optimized and lazy image components
  packages/nextjs/components/OptimizedImage.tsx
Due: frontend

Optimize service worker caching strategy
  packages/nextjs/public/sw.js
Due: none

Add production build optimizations
  packages/nextjs/next.config.ts
Due: none

Add performance optimization documentation
  packages/nextjs/PERFORMANCE.md
Due: none

Configure BASE networks in hardhat config
  packages/hardhat/hardhat.config.ts
Due: none

Add BASE deployment scripts with verification
  packages/hardhat/deploy/01_deploy_base_sepolia.ts
  packages/hardhat/deploy/02_deploy_base_mainnet.ts
Due: none

Add comprehensive security audit checklist
  packages/hardhat/SECURITY_AUDIT.md
Due: none

Add comprehensive deployment documentation
  packages/hardhat/DEPLOYMENT.md
Due: none

Add deployment utility scripts
  packages/hardhat/scripts/update-frontend.ts
  packages/hardhat/scripts/verify-deployment.ts
Due: none

Configure BASE networks in wagmi
  packages/nextjs/scaffold.config.ts
Due: none

Add deployment quick reference guide
  packages/hardhat/README_DEPLOYMENT.md
Due: none

Path conditions:
  contracts: any of: packages/hardhat/contracts/, but not: **/*.test.ts, **/*.test.tsx, **/test/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/coverage/**
  frontend: any of: packages/nextjs/services/, packages/nextjs/components/, but not: **/*.test.ts, **/*.test.tsx, **/test/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/coverage/**
